body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}
.score {
    margin-top: 20px;
    margin-bottom: 20px;
}
canvas {
    border: 1px solid #fff;
    height: 85vh;
}

.controls  {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
}

.controls p {
    text-align: justify;
}

.arrow {
    font-size: 1.5em;
}
@media screen and ( max-width:1024px){
    body{
        font-size: 4em;
    }
    .controls{
        top:100%;
        transform: translateY(0);
    }
    p span{
        color: black;
    }
    .arrow{
        background-color: aqua;
        border-radius: 6em;
        padding: 0 33px 10px ;
        cursor: pointer;
    }
    .left,
    .right{
        padding: 0 10px 10px ;
    }

}

@media screen and ( max-width:414px){
    body{
        font-size: 2.5em;
    }
    .up,
    .down{
        padding: 0 24px 10px;
    }
}

@media screen and ( max-width:410px){
    body{
        font-size: 2em;
    }
    .up,
    .down{
        padding: 0 21px 10px;
    }
}